Django
django-cors-headers
django-admin
django-bootstrap4
django-widget-tweaks
django-active-link
requests
beautifulsoup4
nsepython
xmltodict
arrow
# chatterbot
fuzzywuzzy
appdirs
asgi-redis
asgiref
attrs
autobahn
Automat
certifi
channels
chardet
constantly
daphne
dj-database-url
django-crispy-forms
djangorestframework
djangorestframework-bulk
djangorestframework-jwt
# duckduckgo2
gunicorn
honcho
idna
incremental
lxml
Markdown
msgpack-python
nltk
numpy
packaging
pandas
PyJWT
pyparsing
python-dateutil
python-decouple
pytz
redis
scikit-learn
scipy
six
Twisted
txaio
urllib3
whitenoise
zope.interface
psycopg