{% extends 'layout/base.html' %}
              
{% block content %}
{% load static %}

              <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Company</h1>
                        <div class="w-80">
                        <input type="text" class="form-control shadow-sm" id="company_select" placeholder="Company" />
                    
                                    </div>
                        
                    </div>
                    <!-- Content Row -->
                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-7 col-lg-8">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Company recent Chart
                                        <span id="company_name"></span>

                                        
                                    </h6>
                                    
                                    <div class="d-inline">
                                        <span class="border"><button class="btn" id="range_5_year">5 Y</button></span>
                                        <span  class="border"><button class="btn" id="range_year">1 Y</button></span>
                                        <span  class="border"><button class="btn" id="range_month">1 M</button></span>
                                        <span  class="border"><button class="btn" id="range_week">1 W</button></span>
                                        <i class="fa fa-plus ml-2 add-to-dashboard" aria-hidden="true" data-toggle="modal" data-target="#exampleModal"></i>
                                    </div>
                                    
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="selectedCompanyChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-lg-4 mb-4">

                            <!-- Illustrations -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Company Info</h6>
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                        <table class="table">
                                            <tr>
                                                <td><b>Company Name:</b> {{company_name}}</td>
                                                <td><b>Symbol:</b> {{symbol}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Total Revenue:</b> {{total_revenue}}</td>
                                                <td><b>Profit:</b> {{profit}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Equity Share:</b> {{equity_share}}</td>
                                                <td><b>Equity Per Share:</b> {{e_per_share}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Debt Equity Ratio:</b> {{debt_equity}}</td>
                                                <td><b>Face Value:</b> {{face_value}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Sector:</b> {{sector}}</td>
                                                
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>

                        
                    </div>
                    <!-- Content Row -->
                    <div class="row">

                    
                        <div class="col-lg-12 col-md-12 mb-4">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    {% comment %} Would also need sector info and storing sector info data {% endcomment %}
                                    <h6 class="m-0 font-weight-bold text-primary">Financials</h6>
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                        <table class="table">
                                            <tr>
                                                <td><b>Revenue:</b> <span id="financials_revenue"></span></td>
                                                <td><b>Material Consumed:</b> <span id="financials_material_consumed"></span></td>
                                                <td><b>Change Inventories:</b> <span id="financials_change_inventories"></span></td>
                                                <td><b>Profit:</b> <span id="financials_profit"></span></td>
                                            </tr>
                                            <tr>
                                                <td><b>Other Income:</b> <span id="financials_other_income"></span></td>
                                                <td><b>Basic EPS::</b> <span id="financials_basic_eps"></span></td>
                                                <td><b>Employee Benefit:</b> <span id="financials_employee_benefit"></span></td>
                                                <td><b>Exceptional Items:</b> <span id="financials_exceptional_items"></span></td>
                                            </tr>
                                            <tr>
                                                <td><b>Total Income:</b> <span id="financials_total_revenue"></span></td>
                                                <td><b>Associate Share:</b> <span id="financials_associate_share"></span></td>
                                                <td><b>Finance Costs:</b> <span id="financials_finance_costs"></span></td>
                                                <td><b>Profit Before Tax:</b> <span id="financials_profit_before_tax"></span></td>
                                            </tr>
                                            <tr>
                                                <td><b>Material Consumer Complete:</b> <span id="financials_material_consumed2"></span></td>
                                                <td><b>Face Value:</b> <span id="financials_face_value"></span></td>
                                                <td><b>Depreciation Amortization Expenses:</b> <span id="financials_depre_amor_expenses"></span></td>
                                                <td><b>Current Tax</b> <span id="financials_current_tax"></span></td>
                                            </tr>
                                            <tr>
                                                <td><b>Paid Up Equity Share:</b> <span id="financials_paid_up_equity_share"></span></td>
                                                <td><b>Total Tax Expense:</b> <span id="financials_total_tax_expense"></span></td>
                                                <td><b>Other Expense:</b> <span id="financials_other_expenses"></span></td>
                                                <td><b>Deffered Tax:</b> <span id="financials_defferred_tax"></span></td>
                                            </tr>
                                            <tr>
                                                <td><b>Profit Period:</b> <span id="financials_profit_period"></span></td>
                                                <td><b>Interest Cov.:</b> <span id="financials_interest_service_coverage"></span></td>
                                                <td><b>Total Comprehensive Income:</b> <span id="financials_total_compr_income"></span></td>
                                                <td><b>Total Profit Non-Controlling:</b> <span id="financials_total_profit_non_controlling"></span></td>
                                            </tr>
                                            <tr>
                                                <td><b>Diluted EPS:</b> <span id="financials_diluted_eps"></span></td>
                                                <td><b>Consolidated Profit:</b> <span id="financials_consolidated_profit"></span></td>
                                                <td><b>Comprehensive Income:</b> <span id="financials_comprehensive_income"></span></td>
                                                <td><b>Profit Attributes:</b> <span id="financials_profit_attributes"></span></td>
                                            </tr>
                                            <tr>
                                                <td><b>Comprehensive Income Parent:</b> <span id="financials_comprehensive_income_parent"></span></td>
                                                <td><b>Total Comprehensive Interests:</b> <span id="financials_total_compr_non_contr_interests"></span></td>
                                                
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-12 col-md-12 mb-4">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    {% comment %} Would also need sector info and storing sector info data {% endcomment %}
                                    <h6 class="m-0 font-weight-bold text-primary">Company News</h6>
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                       
                                    </div>
                                </div>
                            </div>

                        </div>

                        
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block custom_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js" integrity="sha512-LsnSViqQyaXpD4mBBdRYeP6sRwJiJveh2ZIbW41EBrNmKxgr/LFZIiWT6yr+nycvhvauz8c2nYMhrP80YhG7Cw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <script src="{% static 'js/company.js' %}"></script>
   {% endblock %} 