.custom-close-icons {
    margin-left: -10px;
    font-size: 15px;
}

.custom-close-icons:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.add-to-dashboard:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.delete-button {
    cursor: pointer;
}

.delete-button:hover {
    transform: scale(1.1);
}

.display-show {
    opacity: 0;
}

.fa {
    cursor: pointer;
}
.wi-80 {
    width: 80vw!important;
    max-width: 80vw!important;
}
.wi-10 {
    width: 60px!important;
}
.wi-5 {
    width: 5%!important;
}
.wi-15 {
    width: 90px!important;
}
.dashbord_small_text {
    color: grey;
    font-size:small;
    display: block;
    margin-top: 5px;
}

.dashbord-name {
    font-size: 1.3rem;
}

.add_operator {
    font-size: 25px;
    
}

#operators {
    width: 97%!important;
    max-width: 97%!important;
}

.operators {
    overflow: auto;
    
}

.form-control-close {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 15px;
}

.form-close-container {
    position: relative;
}

.form-close-container select, .form-close-container input {
    font-size: 13px;
} 

.candle-chart.active {
    background-color: white;
    color: orange;
}

.chat-over-container {
    border: 1px solid grey;
    
}
.chat-container {
    width: 100%;
    height: 60vh;
}